{% extends "base.html" %}

{% block title %}PlansBook || Home page{% endblock %}

{% block body %}

<div class="card mb-4">
    <div class="bg-red text-white">
        <h3 class="pl-1">Daily review</h3>
    </div>
    <div class="card-body row text-center">
        <div class="col-md-3">
            <div class="card p-1">
                <h2><i class="fas fa-dumbbell"></i></h2>
                <h4 class="text-success">DONE</h4>
            </div>
        </div>
        <div class="col-md-3">
            <div class="card p-1">
                <h2><i class="fas fa-user-graduate"></i></i></h2>
                <h4 class="text-success">DONE</h4>
            </div>
        </div>
        <div class="col-md-3">
            <div class="card p-1">
                <h2><i class="fas fa-coins"></i></h2>
                <h4 class="text-success">DONE</h4>
            </div>
        </div>
        <div class="col-md-3">
            <div class="card p-1">
                <h2><i class="fas fa-users"></i></h2>
                <h4 class="text-success">DONE</h4>
            </div>
        </div>
    </div>
</div>
<div class="card mb-4">
    <div class="card-header bg-danger">
        <h3 class="card-title">Darbuotojų apžvalga</h3>
    </div>
    <div class="card-body row">
        <div class="col-md-3">
            <div class="card">
                <h2><span class="glyphicon glyphicon-user" aria-hidden="true"></span> 203</h2>
                <h4>Darbuotojai</h4>
            </div>
        </div>
        <div class="col-md-3">
            <div class="card">
                <h2><span class="glyphicon glyphicon-ok-sign" aria-hidden="true"></span>
                    12</h2>
                <h4>Dirba</h4>
            </div>
        </div>
        <div class="col-md-3">
            <div class="card">
                <h2><span class="glyphicon glyphicon-calendar" aria-hidden="true"></span> 33</h2>
                <h4>Atostogauja</h4>
            </div>
        </div>
        <div class="col-md-3">
            <div class="card">
                <h2><span class="glyphicon glyphicon-remove-sign" aria-hidden="true"></span> 12,334</h2>
                <h4>Serga</h4>
            </div>
        </div>
    </div>
</div>

{% endblock %}